<table>
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Akcje</th>
  </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
    <tr>
      <th>
        <%= participant.name %>
      </th>
      <th>
        <%= participant.id %>
      </th>
      <th>
        <%= link_to  "Edytuj chopa", edit_party_guest_path(participant) %>
      </th>
    </tr>
  <% end %>
  </tbody>
</table>
