@import "bootstrap";

.side-menu {
  position: absolute;
  top: 0;
  background: #1a262b;
  min-height: 100vh;
  min-width: 250px;
  text-align: center;
}

.menu-row {
  text-align: center;
}

.menu-element {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.menu-button {
  background-color: blue;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  height: 40px;
  padding: 3% 0;
}

.menu-button:hover {
  color: white;
  background-color: darkblue;
  text-decoration: none;
}

.main-button {
  margin-left: auto;
  margin-right: auto;
}
