@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";

.side-menu {
  position: absolute;
  top: 0;
  background: #1a262b;
  min-height: 100vh;
  min-width: 250px;
  text-align: center;
}
.menu-row {
  text-align: center;
}
.menu-element {
  margin-left: auto;
  margin-right: auto;
  width: 90px
}
.main-button {
  margin-left: auto;
  margin-right: auto;
}